.gallery {
    padding: 20px;
    display: flex;
    min-height: calc(100vh - 2.5rem);
    width: 100%;
    flex-direction: column;

    form {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .counter {
        font-size: 25px;
        font-weight: bold;
        align-self: center;
    }
}